@media (max-width: 1100px){
    #calc{
        width: 25%;
    }
}

@media (max-width: 800px){
    #calc{
        width: 30%;
    }
}

@media (max-width: 650px){
    #calc{
        width: 40%;
    }
}

@media (max-width: 450px){
    #calc{
        width: 60%;
    }
}